body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #666666;
  color: rgb(71, 61, 5);
  padding: 30px;
  text-align: center;
  border-radius: 2px;
}

header img {
  width: 300px;
   border-radius: 20%;
}